<html lang="en-US">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Verifikasi Email</title>
    <meta name="description" content="Verifikasi Email"/>
    <style type="text/css">
        a#bt_reset {
            width: 300px;
            height: 47px;
            background-color: #F0942B !important;
            text-decoration: none !important;
            font-weight: 400;
            color: #ffffff !important;
            font-style: normal;
            font-size: 18px;
            font-family: 'Source Sans Pro',sans-serif;
            padding: 1px 15px;
            display: inline-block;
            line-height: 47px;
            text-align: center;
            border-radius: 4px;
            border-style: solid;
            border-color: #F0942B;
        }

        a#bt_reset:hover {
            background-color: rgb(255, 255, 255) !important;
            color: #F0942B !important;
            /*border-color: #333 !important;*/
        }

        h2, h5 {
            color: #fafafa;
        }
    </style>
</head>

<body style="margin: 0 0; background-color: #E1E1E1; align-self: center; ">
<table
        style="
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
        font-family: 'Source Sans Pro', sans-serif;
        width: 100%;
        height: 100%;"
>
    <tr>
        <td>
            <table
                    style="width: 345px; height: 386px; margin: 0 auto; background-color: #FAFAFA; border-radius: 16px">
                <tr>
                    <td>
                        <table style="width: 345px; height: 386px; margin: 0 auto; background-color: #FAFAFA; border-radius: 16px">
                            <td style="text-align: center">
                                <a href="https://nodeflux.lokasi.dev" title="logo" target="_blank">
                                    <img
                                        height="100px"
                                        width="260px"
                                        src="https://nodeflux.lokasi.dev/static/media/logo-garudaeye.7ca64acfe781bfb6f583.png"
                                        title="logo"
                                        alt="logo"
                                />
                                </a>
                            </td>
                            <tr>
                                <td style="
                                        /*height: 1em;*/
                                        /*padding-bottom: 10px;*/
                                        margin: 0;
                                        text-align: center;
                                        ">
                                    <h2 style="color: #F0942B; font-weight: bold;
                                            font-family: 'Source Code Pro',serif">
                                        Verifikasi Akun</h2>
                                </td>
                            </tr>
                            <tr style="text-align: center">
                                <td style="padding: 20px 25px">
                                    <h5
                                            style="
                                            color: #595959;
                                            font-weight: 400;
                                            font-style: normal;
                                            font-size: 16px;
                                            font-family: 'Source Sans Pro', sans-serif;"
                                    >
                                        &nbsp;Silahkan klik tautan dibawah ini untuk melakukan verifikasi akun
                                        <span style="font-weight: 700">Festival
                                        Indonesia Bertutur 2022</span>
                                    </h5>
                                    <a
                                            id="bt_reset"
                                            href="{{verifyLink}}">Verifikasi Akun</a
                                    >
                                </td>
                            </tr>
                            <td style="height: 4em">
                                </a>
                            </td>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>
